#main
{
    
    float: left;
    padding: 10px;
    border-right: 1px solid;
    text-align:right;
    width:250px; 
}
.none
{
    text-decoration: none;
    font-weight: bold;
}

#local
{
    float: left;
    padding: 10px;
    border-bottom: 1px solid;
}


