
#main
{
    background-color: grey;
    float: left;
    padding: 10px;
    border-right: 1px solid;
}
.none
{
    text-decoration: none;
    font-weight: bold;
}

#local
{
    float: left;
    padding: 10px;
}


